body
{
  background-color: rgba(7, 13, 25, 100);
  font-family: Georgia, serif;
  font-weight: 200;
}

 ul {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dee5e5;
  }

  .nav_bar li {
    float: left;
  }

  .nav_bar li a {
    padding: 20px 40px;
    display: inline-block;
    color: #53807f;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    cursor: default;
  }

  .nav_bar li a:hover {
    background-color: #3c6371;
    color: white;
  }
  

  h1, h3{
    font-size: 30px;
    color: #dee5e5;
  }
